<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_register.css">
    <title>Document</title>
</head>
<body>
    <h1>Login to CEA account</h1>
       <h2>username</h2>
            <input type="text" id="username_bar" name="username">
    <br/>
    <div id="nav_links">
        <a href="account_page.html" id="nav_link_login">Login</a>
        <br/>
        <a href="register.html" id="nav_link_register">Not registered?, Register here </a>
    </div>
</body>
</html>