<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/account_page.css">
    <title>Document</title>
</head>
<body>
    <h1>Your API key</h1>
    <div id="content_container">
        <h2 id="api_key">API Key</h2>
        <button id="copy_button" onclick="copyApiKey()">Copy</button>
    </div>
    <div id="text_container">
        <p id="locations">
            Possible locations to query: 
            <br/>
            Erean 
            <br/>
            Brunad 
            <br/>
            Bylyn 
            <br/>
            Docia 
            <br/>
            Zord 
            <br/>
            Marend 
            <br/>
            Yaean 
            <br/>
            Frestin 
            <br/>
            Stonyam 
            <br/>
            Ryall 
            <br/>
            Pryn 
            <br/>
            Keivia 
            <br/>
            Ruril 
            <br/>
            Tallan 
            <br/>
            Adohad 
            <br/>
            Obelyn 
            <br/>
            Holmer 
            <br/>
            Vertwall
        </p>
        <p id="queries">
            Possible queries:
            <br/>
            Rainfall for a specified day (all locations). 
            <br/>
            Rainfall for a single specified location (all days). 
            <br/>
            Rainfall for a specified day for a single specified location .
            <br/> 
            Rainfall for all days, for all locations.
        </p>
    </div>
<script src="/static/java_account_page.js"></script>
</body>
</html>