<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Welcome to the CEA website</h1>
    <div class="main_content">
        <div class="instructions">
            <p>
                Centrala Environmental Agency website 
                Was create so you can access the weather database:
                <br>
                First
                <br>
                Registering with the CEA
                <br>
                Next
                <br>
                The system will generate an API key 
                <br>
                Finally
                <br>
                Use the API key to make queries
            </p>
        </div>
        <div class="buttons">
            <button class="continue_button" id="login_button">Continue to Login</button>
            <button class="register_button" id="register_button">Continue to Registration</button>
        </div>
    </div>
<script src="{{ url_for('static', filename='java_homepage.js') }}"></script>
</body>
</html>